@charset "UTF-8";




#up{
width:1200px;
height:1200px;	
margin:0;
}
#tag{
border:1px solid black;
	
}
.loc{
margin-right:250px;	
}


.price{
border:1px solid black;	
	}
	
#option{
border:1px solid black;	
}	
	

	
#bigimg{
width:593px;
height:593px;	
}
	
.price{
height:200px;	
}	

#option{
height: 200px;	
}

#buy{
border:1px solid black;
height: 200px;	
}	



.itemtit{
margin-top:23px;
text-align: center;	
font-size: 17.5pt;
height:80px;
font-weight:470;
}	
.pricereal{
margin-left:450px;	
font-weight:650;
font-size: 20pt;

}
.unit{
font-size: 16.5pt;
font-weight:550;
	
}	
#ctrl{
margin-top:20px;	
height:80px;
}
.numctrl{
margin-left:50px;	
}

#totaltxt{
font-size: 16pt;
}
.num{
font-size: 19pt;	
}

.totalprice{
margin-left:150px;	
}

.numctrl button{
font-size: 14pt;
background-color:#FFFFFF;
border:1px solid black;
height:40px;
width: 40px;
}


.numctrl button:hover{
cursor:grap;
backgraund-color:#EAEAEA;

  }
  
  

#order{
text-align: center;
font-size: 14pt;
width:40px;
height:40px;
display: inline-block;	
}  
	

.btncart{
width:177px;
height: 87px;	
margin-left:85px;
font-size: 18pt;
border:3px solid black;
background-color:#FFBBFF;
}
.btbuy	{
width:177px;
height:87px;	
margin-left:50px;
font-size: 18pt;
border:3px solid black;	
background-color:#C9FFC3;
}

.btncart:hover	{
background-color:#EDA0E3;	
cursor:grap;	
	}
	
.btbuy:hover	{
background-color:#B7F0B1;	
cursor:grap;	
	}
	
	
	

#itemimg{
width:595px;
height:1200px;	
margin:0;
display:inline-block;
}

.itemno{
font-size:10pt;
}

#text{
width:595px;
height:1200px;	
margin:0;
display:inline-block;
position: relative;
top:-70px;

}

#dnmanu{
width:1200px;
height:40px;	
}
#itemtext review chng{
width:400px;
height:40px;
}


#moreitem{
width:1200px;
height:400px;	
	
}

.liitem{
width:200px;
height:400px;	
	
}

.img{
width:200px;
height:200px;		
	}
	
.liitemtext{
width:200px;
height:200px;
}
	
.litext{
width:200px;
height:120px;	
}

.liprice{
width:200px;
height:180px;	
}











